/* =============
    Section-1
============= */
#section-1{
  

   
    #section-1-content{
        background-image: url('../img/section-1/section-1.jpg');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40vh;
        display: flex;
                    justify-content: center;
                    align-items: center;
        h1{
        text-align: center;
        font-family: 'Marcellus', serif;
        color: white;
        font-size: rem-calc(25);
        width: 250px;

        span{
            font-family: 'Muli', san-serif;
            font-weight: 100;
        }

        @include md{
            font-size: rem-calc(45);
            width: 500px;
        }
        @include lg{
            font-size: rem-calc(70);
            width: 700px;
        }
        }

        @include md{
            background-position: center;
            height: 60vh;
           
        }

        @include lg{
            height: 100vh;
        }
       
       

    }
   


}