/* =============
    Section-8
============= */
#section-8 {
	#section-8-container {
		margin: 60px 0;
		@include md {
			margin: 80px 0;
		}
		@include lg {
			display: grid;
			grid-template-areas: ". section-8-content .";
			grid-template-columns: auto 900px auto;
			margin: 100px 0;
		}
		#section-8-content {
			display: grid;
			gap: 20px;
			grid-area: section-8-content;
			grid-template-areas: "text text"
                "g1 g2"
                "g3 g3";
			grid-template-columns: 50% auto;
			@include md {
				grid-template-areas: "g1 text"
                    "g1 g3"
                    "g2 g3"
                    "g2 g3";
				grid-template-columns: 35% auto;
				grid-template-rows: 4fr;
			}
			#section-8-text {
				grid-area: text;
				h3 {
					color: #F22D2D;
					font-family: 'Asul', sans-serif;
					font-size: rem-calc(22);
					margin: 0 20px 10px;
					@include md {
						padding: 0 20px 0;
						text-align: right;
					}
					@include lg {
						font-size: rem-calc(27);
					}
				}
				p {
                    border-top: solid;
					border-color: #F22D2D;
					border-width: 2px;
					font-family: 'Muli', sans-serif;
					font-size: rem-calc(16);
					font-weight: 200;
					line-height: rem-calc(25);
					margin: 0 20px;
					padding: 10px 0 0 0;
					text-align: justify;
					@include md {
                        border-right: solid;
						border-color: #F22D2D;
						border-width: 2px;
						margin: 0 20px 0 -20px;
						padding-left: 20px;
						padding-right: 20px;
					}
					@include lg {
						font-size: rem-calc(19);
						line-height: rem-calc(35);
					}
				}
			}
		}
		#image-1 {
			background-image: url('../img/section-8/section-8-1.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			grid-area: g1;
			height: 200px;
			@include md {
				height: auto;
			}
		}
		#image-2 {
			background-image: url('../img/section-8/section-8-2.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			grid-area: g3;
			height: 200px;
			@include md {
				height: 450px;
			}
		}
		#image-3 {
			background-image: url('../img/section-8/section-8-3.jpg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			grid-area: g2;
			height: 200px;
			@include md {
				height: 300px;
			}
		}
	}
}
