/* =============
    Section-2
============= */
#section-2 {
	display: grid;
	grid-template-areas: ". section-2-content .";
	grid-template-columns: auto 300px auto;
	margin: 60px 0px;
	@include md {
		grid-template-columns: auto 600px auto;
		margin: 80px 0;
	}
	@include lg {
		grid-template-columns: auto 600px auto;
		margin: 100px 0;
	}
	#section-2-content {
		grid-area: section-2-content;
		text-align: center;
		h2 {
			color: #F22D2D;
			font-family: 'Muli', sans-serif;
			font-size: rem-calc(25);
			font-weight: 200;
			line-height: rem-calc(35);
			span {
				color: #F2B705;
				font-family: 'Marcellus', serif;
			}
			@include md {
				font-size: rem-calc(37);
				line-height: rem-calc(40);
			}
			@include lg {
				font-size: rem-calc(40);
				line-height: rem-calc(50);
			}
		}
	}
}
