/* =============
    Section-11
============= */
#section-11 {
	@include md {
		display: grid;
		grid-template-areas: ". section-11-container .";
		grid-template-columns: auto 600px auto;
	}
	#section-11-container {
		grid-area: section-11-container;
		margin: 0 20px;
		@include md {
			display: grid;
			grid-template-areas: "title title"
                "p1 p1"
                "type message"
                "info info"
                "submit submit";
			grid-template-columns: 40% auto;
		}
		h1 {
			color: #F22D2D;
			font-family: 'Asul', sans-serif;
			font-size: rem-calc(22);
			grid-area: title;
			margin: 0 0 10px;
			text-align: center;
			@include lg {
				font-size: rem-calc(27);
			}
		}
		p {
            border-top: solid;
			border-color: #F22D2D;
			border-width: 2px;
			font-family: 'Muli', sans-serif;
			font-size: rem-calc(20);
			font-weight: 200;
			grid-area: p1;
			line-height: rem-calc(25);
			padding: 10px 0 0;
			text-align: center;
		}
		#type {
			grid-area: type;
			ul {
				display: grid;
				gap: 10px;
				grid-template-areas: "gb gn gb2 gt"
                    "eb er sb sb1";
				grid-template-columns: 20px auto 20px auto;
				@include md {
					display: grid;
					font-size: rem-calc(20);
					grid-template-areas: "gn gb"
                        "gt gb2"
                        "er eb"
                        "sb1 sb";
					grid-template-columns: 140px 20px;
					margin: 20px 0 0 0;
					padding-left: 20px;
				}
				h3 {
					font-family: 'Muli', sans-serif;
					font-size: rem-calc(16);
					font-weight: 200;
					line-height: rem-calc(25);
					padding-left: 10px;
					text-align: left;
					@include md {
						font-size: rem-calc(20);
						padding-right: 10px;
						text-align: right;
					}
				}
				.boxs {
					border: solid;
					border-color: #F09005;
					border-width: 2px;
					height: 20px;
					width: 20px;
					@include md {
						height: 30px;
						margin-bottom: 13px;
						width: 30px;
					}
				}
				#general-box {
					grid-area: gb;
				}
				#group-box {
					grid-area: gb2;
				}
				#event-box {
					grid-area: eb;
				}
				#sponorship-box {
					grid-area: sb;
				}
				#general {
					grid-area: gn;
				}
				#group {
					grid-area: gt;
				}
				#event {
					grid-area: er;
				}
				#sponorship {
					grid-area: sb1;
				}
			}
		}
		#message {
            border-left: solid;
			border-top: solid;
			border-bottom: solid;
			border-color: #F22D2D;
			border-width: 2px;
			grid-area: message;
			height: 200px;
			h3 {
				font-family: 'Muli', sans-serif;
				font-size: rem-calc(20);
				font-weight: 200;
				padding: 20px 0 0 20px;
			}
			@include md {
				margin-top: 20px;
			}
		}
		#info {
			display: grid;
			grid-area: info;
			grid-template-areas: ". info-list .";
			grid-template-columns: auto 200px auto;
			@include md {
				display: grid;
				grid-template-areas: ". info-list .";
				grid-template-columns: auto 600px auto;
			}
			ul {
				grid-area: info-list;
				@include md {
					display: grid;
					gap: 20px;
					grid-template-areas: "yn ye pn";
					grid-template-columns: auto auto auto;
				}
				li {
					align-items: center;
                    border-bottom: solid;
                    border-left: solid;
					border-top: solid;
					border-color: #F09005;
					border-width: 2px;
					display: flex;
					height: 50px;
					justify-content: center;
					margin-bottom: 20px;
					width: 200px;
					@include md {
						width: 185px;
					}
					h3 {
						font-family: 'Muli', sans-serif;
						font-size: rem-calc(16);
						font-weight: 200;
						line-height: rem-calc(16);
						padding-left: 10px;
						text-align: left;
					}
				}
				#phone {
					grid-area: pn;
					margin-bottom: 0;
				}
				#name {
					grid-area: yn;
				}
				#email {
					grid-area: ye;
				}
			}
		}
		#submit {
			display: grid;
			grid-area: submit;
			grid-template-areas: ". submit-button .";
			grid-template-columns: auto 250px auto;
			h2 {
				align-items: center;
				border: solid;
				border-color: #F22D2D;
				border-width: 4px;
				color: #F22D2D;
				display: flex;
				font-family: 'Asul', sans-serif;
				font-size: rem-calc(25);
				grid-area: submit-button;
				height: 50px;
				justify-content: center;
				text-align: center;
				width: 250px;
			}
		}
	}
}
