/* =============
    Section-8
============= */
#section-8{

    #section-8-container{
        margin: 60px 0;

        @include md{
            margin: 80px 0;
        }

        @include lg{
            margin: 100px 0;
            display: grid;
            grid-template-columns: auto 900px auto;
            grid-template-areas: ". section-8-content .";
        }
        
        #section-8-content{
            grid-area: section-8-content;
            display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: 
                "text text"
                "g1 g2"
                "g3 g3";
                gap: 20px;

                @include md{
                    grid-template-columns: 35% auto;
                    grid-template-rows: 4fr;
                    grid-template-areas: 
                    "g1 text"
                    "g1 g3"
                    "g2 g3"
                    "g2 g3";

                }

            #section-8-text{
                grid-area: text;
                
                

                h3{
                margin: 0 20px 10px ;
                font-family: 'Asul', sans-serif;
                font-size: rem-calc(30);
                color:#F22D2D;
                    @include md{
                        text-align: right;
                        padding: 0 20px 0;
                    }
                @include lg{
                    font-size: rem-calc(35);
                }
            }

            p{
                border-top: solid;
                border-width: 2px;
                border-color:  #F22D2D ;
                text-align: justify;
                margin: 0 20px;
                padding: 10px 0 0 0;
                font-family: 'Muli', sans-serif;
                font-weight: 200;
                line-height: rem-calc(25);
                font-size: rem-calc(20);
    
                @include md{
                border-right: solid;
                border-width: 2px;
                border-color:  #F22D2D ;
                padding-right: 20px;
                margin: 0 20px 0 -20px;
                padding-left: 20px;
    
                }
    
                @include lg{
                    font-size: rem-calc(25);
                    line-height: rem-calc(35);
                   
                }
    
            }

            }
            

        }

        
            #image-1{
            grid-area: g1;
            background-image: url('../img/section-8/section-8-1.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;

            @include md{
                height: auto;
            }
          }

          #image-2{
            grid-area: g3;
            background-image: url('../img/section-8/section-8-2.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;
            @include md{
                height: 450px ;
            }
          }

          #image-3{
            grid-area: g2;
            background-image: url('../img/section-8/section-8-3.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;

            @include md{
                height: 300px;
            }
          }
               
            
        

    }

}