/* =============
    Section-4
============= */
#section-4{

    #section-4-image-1{
        grid-area: g1;
        background-image: url('../img/section-4/section-4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150%;
        height: 300px;


    }
    
}