/* =============
    Section-5
============= */
#section-5{

    #section-5-hero{
        background-image: url('../img/section-5/section-5.jpg');
        background-position: center top ;
        background-repeat: no-repeat;
        background-size: 175%;
        height: 300px;

    }
}