/* =============
    Section-5
============= */
#section-5 {
	#section-5-content {
        border-bottom: solid;
        border-top: solid;
		border-color: #F22D2D;
		border-width: 2px;
		grid-area: content;
		padding: 20px 0;
		#section-5-hero {
			background-image: url('../img/section-5/section-5.jpg');
			background-position: center top;
			background-repeat: no-repeat;
			background-size: 175%;
			height: 300px;
			@include md {
				height: 50vh;
			}
			@include lg {
				height: 70vh;
			}
		}
	}
}
