/* =============
    Section-6
============= */
#section-6{

    #section-6-image{
        background-image: url('../img/section-6/section-6.jpg');
        background-size: 145%;
        background-repeat: no-repeat;
        background-position: top;
        height: 300px;
    }
}