/* =============
    Section-1
============= */
#section-1{
    background-image: url('../img/section-1/section-1.jpg');
    background-size:250%;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    text-align: center;

    @include md{
        background-size: 150%;
    }
   
    #section-1-content{
        display: inline-table;
        vertical-align:middle;
        line-height:100%;
        text-align: center;
        font-family: 'Marcellus', serif;
        color: white;

        padding-top: 35%;
        
        h2{ font-family: 'Muli';
            font-weight: 200;
            font-size:rem-calc(40) ;
            line-height: rem-calc(40);
        }
        h1{ color: #F2B705;
            font-size:rem-calc(35) ;
            line-height: rem-calc(40);
        }

    }
   


}