/* =============
    Video
============= */
#video {
	background-color: #FFDD75;
	display: grid;
	grid-template-areas: ". video .";
	grid-template-columns: auto 90% auto;
	margin-bottom: 60px;
	padding: 20px 0px;
	@include md {
		grid-template-columns: auto 600px auto;
		margin-bottom: 80px;
	}
	@include lg {
		grid-template-columns: auto 600px auto;
		margin-bottom: 100px;
	}
	>div {
		align-items: center;
		display: flex;
		grid-area: video;
		justify-content: center;
		section {
			width: 100%;
		}
	}
}
