/* =============
    Footer
============= */
#footer{

    #footer-container{
        margin-top: 60px;
        background-image: url('../img/footer/footer.jpg');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 20vh;
    }
}