/* =============
    Header
============= */
header {
	background-color: #F22D2D;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	>div {
		display: grid;
		grid-template-areas: "logo burger"
            "nav nav";
		grid-template-columns: 80% auto;
		@include lg {
			grid-template-areas: "logo "
                "nav";
			grid-template-columns: auto;
		}
		#logo {
			align-items: center;
			color: white;
			display: flex;
			font-size: rem-calc(25);
			grid-area: logo;
			padding: 10px 0 10px 20px;
			text-align: left;
			@include lg {
				font-size: rem-calc(35);
				justify-content: center;
				padding: 20px 0 0;
			}
			a:link,
            a:visited {
				color: white;
			}
			a:hover,
            a:active {
				color: black;
			}
		}
		#burger-container {
			align-items: center;
			color: white;
			display: flex;
			font-size: rem-calc(20);
			grid-area: burger;
			justify-content: flex-end;
			padding-right: 20px;
			text-align: right;
			@include lg {
				display: none !important;
			}
			i {
				cursor: pointer;
			}
		}
		#nav-container {
			background-color: black;
			display: none;
			grid-area: nav;
			padding: 0 20px;
			text-decoration: none;
			@include lg {
				background-color: #F22D2D;
				display: block !important;
				justify-content: center;
				padding: 0;
			}
		}
	}
}
