/* =============
    Navigation
============= */
#nav-container {
    ul {
        height: 100;
        text-align: right;


        @include lg {
            display: flex;
            justify-content: flex-end;
            margin-right: 20px;
        }

        li { 


            a:link,
            a:visited {
                color:black;
                font-family: 'Marcellus', serif;
                font-weight: 400;
                padding: 20px 0;
                text-decoration: none;
                transition: 0.25s;
                width: 100%;
                font-size: rem-calc(18);

                @include lg {
                    color: white;
                    font-size: rem-calc(20);
                    padding: 0 15px;

                }
            }

            a:hover,
            a:active {
                color: black ;
            }

        }
    }
}